# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: CMake on windows

on:
  # push:
  #   branches: [ "dev" ]
  #   paths:
  #     - '**/*.h'
  #     - '**/*.hpp'
  #     - '**/*.ui'
  #     - '**/*.cmake'
  #     - '**/*.cpp'
  #     - '**/*.rc'
  #     - '**/*.qrc'
  #     - 'CMakeLists.txt'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**/*.h'
      - '**/*.hpp'
      - '**/*.ui'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.rc'
      - '**/*.qrc'
      - 'CMakeLists.txt'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: windows-latest

    steps:
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '5.15.2'
        cache: true
        arch: 'win64_msvc2019_64'
        modules: 'qtcharts qtdatavis3d'
        # dir: '${{github.workspace}}\thirdparty'
        # version: '5.15.2'
        # host: 'windows'
        # target: 'desktop'
        # arch: 'win64_msvc2019_64'
        # modules: 'qtcharts qtdatavis3d'
        # set-env: 'true'
        # cache: 'false'
        # cache-key-prefix: 'install-qt-action'
        # install-deps: 'true'

    - name: Show QT_ROOT_DIR
      run: echo "QT_ROOT_DIR is ${env:QT_ROOT_DIR}"

    - name: Install NSIS via choco
      run: choco install nsis -y

    - uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: Build libde265
      run: |
        curl -L -o libde265-1.0.16.tar.gz https://github.com/strukturag/libde265/releases/download/v1.0.16/libde265-1.0.16.tar.gz
        tar -zxf libde265-1.0.16.tar.gz
        cd libde265-1.0.16
        mkdir build
        cd build
        cmake .. -G "Visual Studio 17 2022" -A x64 -DENABLE_DECODER=OFF -DENABLE_ENCODER=OFF -DENABLE_SDL=OFF -DBUILD_SHARED_LIBS=ON
        cmake --build . --config Release -j 4
        cmake --install . --prefix=${{github.workspace}}\thirdparty\libde265\msvc --config Release
    
    - name: Build libheif
      run: |
        curl -L -o libheif-1.21.2.tar.gz https://github.com/strukturag/libheif/releases/download/v1.21.2/libheif-1.21.2.tar.gz
        tar -zxf libheif-1.21.2.tar.gz
        cd libheif-1.21.2
        mkdir build
        cd build
        cmake .. -G "Visual Studio 17 2022" -A x64 \
          -DWITH_LIBDE265=ON \
          -DWITH_X265=OFF \
          -DWITH_KVAZAAR=OFF 
          -DWITH_UVG266=OFF \
          -DWITH_VVDEC=OFF \
          -DWITH_VVENC=OFF \
          -DWITH_X264=OFF \
          -DWITH_OpenH264_ENCODER=OFF \
          -DWITH_OpenH264_DECODER=OFF \
          -DWITH_DAV1D=OFF \
          -DWITH_AOM_ENCODER=OFF \
          -DWITH_AOM_DECODER=OFF \
          -DWITH_SvtEnc=OFF \
          -DWITH_RAV1E=OFF \
          -DWITH_JPEG_ENCODER=OFF \
          -DWITH_JPEG_DECODER=OFF \
          -DWITH_OpenJPEG_ENCODER=OFF \
          -DWITH_OpenJPEG_DECODER=OFF \
          -DWITH_FFMPEG_DECODER=OFF \
          -DWITH_OPENJPH_ENCODER=OFF \
          -DWITH_OPENJPH_DECODER=OFF \
          -DWITH_UNCOMPRESSED_CODEC=OFF \
          -DWITH_WEBCODECS=OFF \
          -DWITH_LIBSHARPYUV=OFF \
          -DWITH_EXAMPLES=OFF \
          -DWITH_EXAMPLE_HEIF_THUMB=OFF \
          -DWITH_EXAMPLE_HEIF_VIEW=OFF \
          -DWITH_GDK_PIXBUF=OFF \
          -DBUILD_DOCUMENTATION=OFF \
          -DBUILD_TESTING=OFF \
          -DBUILD_SHARED_LIBS=ON \
          -DLIBDE265_INCLUDE_DIR="${{github.workspace}}/thirdparty/libde265/msvc/include" \
          -DLIBDE265_LIBRARY="${{github.workspace}}/thirdparty/libde265/msvc/lib/de265.lib"
        cmake --build . --config Release -j 4
        cmake --install . --prefix=${{github.workspace}}\thirdparty\libheif\msvc --config Release

    - name: Configure CMake
      # shell: bash
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}\build -S ${{github.workspace}} -DCMAKE_INSTALL_PREFIX=${{github.workspace}}\build\install #--log-level=DEBUG --debug-find-pkg=Qt5 
      #  -DCMAKE_PREFIX_PATH=${{github.workspace}}\thirdparty\Qt\5.15.2\msvc2019_64

    - name: Build
      # shell: bash
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}\build --config ${{env.BUILD_TYPE}}

    - name: install
      working-directory: ${{github.workspace}}\build
      run: cmake --install ${{github.workspace}}\build --config ${{env.BUILD_TYPE}}
    - name: generate installer package
      working-directory: ${{github.workspace}}\build
      run: cpack -C ${{env.BUILD_TYPE}} -G NSIS
    - name: generate zip package
      working-directory: ${{github.workspace}}\build
      run: cpack -C ${{env.BUILD_TYPE}} -G ZIP

    # - name: Upload Installer Artifacts
    #   uses: actions/upload-artifact@v4
    #   with:
    #       name: IIViewer windows installer
    #       if-no-files-found: ignore
    #       path: ${{github.workspace}}\build\IIViewer-*-win64.exe
    #       compression-level: 0 # no compression
    # - name: Upload Zip Artifacts
    #   uses: actions/upload-artifact@v4
    #   with:
    #       name: IIViewer windows zip
    #       if-no-files-found: ignore
    #       path: ${{github.workspace}}\build\IIViewer-*-win64.zip
    #       compression-level: 0 # no compression
