name: CMake on macOS

on:
  # push:
  #   branches: [ "main" ]
  #   paths:
  #     - '**/*.h'
  #     - '**/*.hpp'
  #     - '**/*.ui'
  #     - '**/*.cmake'
  #     - '**/*.cpp'
  #     - '**/*.rc'
  #     - '**/*.qrc'
  #     - 'CMakeLists.txt'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**/*.h'
      - '**/*.hpp'
      - '**/*.ui'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.rc'
      - '**/*.qrc'
      - 'CMakeLists.txt'
      - '**/**/*.yml'

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    # steps:
    # - name: Install Qt
    #   uses: jurplel/install-qt-action@v4
    #   with:
    #     version: '5.15.10'
    #     host: 'mac'
    #     target: 'desktop'
    #     arch: 'arm64'
    #     cache: true
    #     modules: 'qtcharts qtdatavis3d'
    #     install-deps: 'true'

    steps:
    - name: Install Homebrew
      run: |
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    - name: Install Qt5 (ARM64)
      run: |
        brew install qt@5
        echo 'export PATH="$(brew --prefix qt@5)/bin:$PATH"' >> $GITHUB_ENV
        echo 'export LDFLAGS="-L$(brew --prefix qt@5)/lib"' >> $GITHUB_ENV
        echo 'export CPPFLAGS="-I$(brew --prefix qt@5)/include"' >> $GITHUB_ENV
        echo 'export PKG_CONFIG_PATH="$(brew --prefix qt@5)/lib/pkgconfig"' >> $GITHUB_ENV
        echo 'export Qt5_DIR="$(brew --prefix qt@5)/lib/cmake/Qt5"' >> $GITHUB_ENV

    - name: Verify Qt Installation
      run: |
        file $(brew --prefix qt@5)/lib/QtWidgets.framework/Versions/5/QtWidgets
        ls $(brew --prefix qt@5)/lib/cmake/Qt5

    # - name: Install create-dmg
    #   run: |
    #     brew install create-dmg
    #     ls $(brew --prefix create-dmg)/bin

    - uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: Build libde265
      run: |
        cd ${{github.workspace}}
        wget https://github.com/strukturag/libde265/releases/download/v1.0.16/libde265-1.0.16.tar.gz
        tar -zxf libde265-1.0.16.tar.gz
        cd libde265-1.0.16
        mkdir build
        cd build
        cmake .. -DENABLE_DECODER=OFF -DENABLE_ENCODER=OFF -DENABLE_SDL=OFF -DBUILD_SHARED_LIBS=OFF -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/thirdparty/libde265/apple
        cmake --build . -j 4
        cmake --install .
    - name: Build libheif
      run: |
        cd ${{github.workspace}}
        wget https://github.com/strukturag/libheif/releases/download/v1.21.2/libheif-1.21.2.tar.gz
        tar -zxf libheif-1.21.2.tar.gz
        cd libheif-1.21.2
        mkdir build
        cd build
        cmake .. \
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
          -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/thirdparty/libheif/apple \
          -DCMAKE_CXX_FLAGS="${CMAKE_CXX_FLAGS} -DLIBDE265_STATIC_BUILD"
          -DWITH_LIBDE265=ON \
          -DWITH_X265=OFF \
          -DWITH_KVAZAAR=OFF \
          -DWITH_UVG266=OFF \
          -DWITH_VVDEC=OFF \
          -DWITH_VVENC=OFF \
          -DWITH_X264=OFF \
          -DWITH_OpenH264_ENCODER=OFF \
          -DWITH_OpenH264_DECODER=OFF \
          -DWITH_DAV1D=OFF \
          -DWITH_AOM_ENCODER=OFF \
          -DWITH_AOM_DECODER=OFF \
          -DWITH_SvtEnc=OFF \
          -DWITH_RAV1E=OFF \
          -DWITH_JPEG_ENCODER=OFF \
          -DWITH_JPEG_DECODER=OFF \
          -DWITH_OpenJPEG_ENCODER=OFF \
          -DWITH_OpenJPEG_DECODER=OFF \
          -DWITH_FFMPEG_DECODER=OFF \
          -DWITH_OPENJPH_ENCODER=OFF \
          -DWITH_OPENJPH_DECODER=OFF \
          -DWITH_UNCOMPRESSED_CODEC=OFF \
          -DWITH_WEBCODECS=OFF \
          -DWITH_LIBSHARPYUV=OFF \
          -DWITH_EXAMPLES=OFF \
          -DWITH_EXAMPLE_HEIF_THUMB=OFF \
          -DWITH_EXAMPLE_HEIF_VIEW=OFF \
          -DWITH_GDK_PIXBUF=OFF \
          -DBUILD_DOCUMENTATION=OFF \
          -DBUILD_TESTING=OFF \
          -DBUILD_SHARED_LIBS=OFF \
          -DLIBDE265_INCLUDE_DIR="${{github.workspace}}/thirdparty/libde265/apple/include" \
          -DLIBDE265_LIBRARY="${{github.workspace}}/thirdparty/libde265/apple/lib/libde265.a"
        cmake --build . -j 4
        cmake --install .

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -S ${{github.workspace}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/build/install -DCMAKE_PREFIX_PATH=$(brew --prefix qt@5)

    - name: Build
      run: cmake --build ${{github.workspace}}/build

    - name: Install
      run: cmake --install ${{github.workspace}}/build

    # - name: Create DMG package
    #   working-directory: ${{github.workspace}}/build
    #   run: |
    #     mkdir -p IIViewer.app/Contents/MacOS
    #     mkdir -p IIViewer.app/Contents/Resources
    #     cp -r install/* IIViewer.app/Contents/MacOS/
    #     cp ${{github.workspace}}/icon/IIViewer_256.png IIViewer.app/Contents/Resources/icon.icns
    #     $(brew --prefix create-dmg)/bin/create-dmg \
    #     --volname "IIViewer Installer" \
    #     --window-pos 200 120 \
    #     --window-size 600 400 \
    #     --icon-size 100 \
    #     --app-drop-link 500 200 \
    #     IIViewer.dmg \
    #     IIViewer.app

