name: Release win64

on:
  push:
    tags:
      - 'v*'  # 匹配v开头的tag
permissions:
  contents: write   # 关键：允许创建/更新 Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - run: gh auth status
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Download NASM
      working-directory: ${{github.workspace}}
      shell: pwsh
      run: |
        Invoke-WebRequest -Uri https://www.nasm.us/pub/nasm/releasebuilds/2.16.03/win64/nasm-2.16.03-win64.zip -OutFile nasm.zip
        Expand-Archive nasm.zip -DestinationPath nasm
        $nasmDir = (Get-ChildItem nasm -Directory | Select-Object -First 1).FullName
        echo $nasmDir >> $env:GITHUB_PATH
        & "$nasmDir\nasm.exe" -v

    - name: Download openssl-1.1
      working-directory: ${{github.workspace}}
      shell: pwsh
      run: |
        $ErrorActionPreference = "Stop"
        $OPENSSL_URL = "https://github.com/openssl/openssl/releases/download/OpenSSL_1_1_1w/openssl-1.1.1w.tar.gz"
        Invoke-WebRequest -Uri $OPENSSL_URL -OutFile openssl.tar.gz
        tar -xzf openssl.tar.gz
    
    - name: Download libde265
      working-directory: ${{github.workspace}}
      shell: pwsh
      run: |
        $ErrorActionPreference = "Stop"
        $LIBDE265_URL = "https://github.com/strukturag/libde265/releases/download/v1.0.16/libde265-1.0.16.tar.gz"
        Invoke-WebRequest -Uri $LIBDE265_URL -OutFile libde265-1.0.16.tar.gz
        tar -xzf libde265-1.0.16.tar.gz
      
    - name: Build libde265
      working-directory: ${{github.workspace}}/libde265-1.0.16
      shell: pwsh
      run: |
        mkdir build
        cd build
        cmake .. -G "Visual Studio 17 2022" -A x64 -DENABLE_DECODER=OFF -DENABLE_ENCODER=OFF -DENABLE_SDL=OFF -DBUILD_SHARED_LIBS=ON -DCMAKE_CXX_FLAGS="${CMAKE_CXX_FLAGS} /MP"
        cmake --build . --config Release -j 4
        cmake --install . --prefix=${{github.workspace}}/thirdparty/libde265/msvc --config Release

    - name: Download libheif
      working-directory: ${{github.workspace}}
      shell: pwsh
      run: |
        $ErrorActionPreference = "Stop"
        $LIBHEIF_URL = "https://github.com/strukturag/libheif/releases/download/v1.21.2/libheif-1.21.2.tar.gz"
        Invoke-WebRequest -Uri $LIBHEIF_URL -OutFile libheif-1.21.2.tar.gz
        tar -xzf libheif-1.21.2.tar.gz
    
    - name: Build libheif
      working-directory: ${{github.workspace}}/libheif-1.21.2
      shell: pwsh
      run: |
        mkdir build
        cd build
        cmake .. -G "Visual Studio 17 2022" -A x64 `
          -DCMAKE_CXX_FLAGS="${CMAKE_CXX_FLAGS} /MP" `
          -DWITH_LIBDE265=ON `
          -DWITH_X265=OFF `
          -DWITH_KVAZAAR=OFF `
          -DWITH_UVG266=OFF `
          -DWITH_VVDEC=OFF `
          -DWITH_VVENC=OFF `
          -DWITH_X264=OFF `
          -DWITH_OpenH264_ENCODER=OFF `
          -DWITH_OpenH264_DECODER=OFF `
          -DWITH_DAV1D=OFF `
          -DWITH_AOM_ENCODER=OFF `
          -DWITH_AOM_DECODER=OFF `
          -DWITH_SvtEnc=OFF `
          -DWITH_RAV1E=OFF `
          -DWITH_JPEG_ENCODER=OFF `
          -DWITH_JPEG_DECODER=OFF `
          -DWITH_OpenJPEG_ENCODER=OFF `
          -DWITH_OpenJPEG_DECODER=OFF `
          -DWITH_FFMPEG_DECODER=OFF `
          -DWITH_OPENJPH_ENCODER=OFF `
          -DWITH_OPENJPH_DECODER=OFF `
          -DWITH_UNCOMPRESSED_CODEC=OFF `
          -DWITH_WEBCODECS=OFF `
          -DWITH_LIBSHARPYUV=OFF `
          -DWITH_EXAMPLES=OFF `
          -DWITH_EXAMPLE_HEIF_THUMB=OFF `
          -DWITH_EXAMPLE_HEIF_VIEW=OFF `
          -DWITH_GDK_PIXBUF=OFF `
          -DBUILD_DOCUMENTATION=OFF `
          -DBUILD_TESTING=OFF `
          -DBUILD_SHARED_LIBS=ON `
          -DLIBDE265_INCLUDE_DIR="${{github.workspace}}/thirdparty/libde265/msvc/include" `
          -DLIBDE265_LIBRARY="${{github.workspace}}/thirdparty/libde265/msvc/lib/de265.lib"
        cmake --build . --config Release -j 4
        cmake --install . --prefix=${{github.workspace}}/thirdparty/libheif/msvc --config Release

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '5.15.2'
        cache: true
        arch: 'win64_msvc2019_64'
        modules: 'qtcharts qtdatavis3d'

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}\build -S ${{github.workspace}} -DCMAKE_INSTALL_PREFIX=${{github.workspace}}\build\install

    - name: Build
      run: cmake --build ${{github.workspace}}\build --config Release

    - name: Build OpenSSL 1.1.1w (Win64)
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        set PATH=%PATH%;${{ github.workspace }}\nasm\nasm-2.16.03
        dir ${{ github.workspace }}
        cd ${{ github.workspace }}\openssl-1.1.1w
        perl Configure VC-WIN64A --prefix=%CD%\_install
        nmake
        nmake install
        copy _install\bin\libssl-1_1-x64.dll ${{ github.workspace }}\bin\Release
        copy _install\bin\libcrypto-1_1-x64.dll ${{ github.workspace }}\bin\Release

    - name: install
      working-directory: ${{github.workspace}}\build
      run: cmake --install ${{github.workspace}}\build --config Release
    - name: generate installer package
      working-directory: ${{github.workspace}}\build
      run: cpack -C Release -G NSIS
    - name: generate zip package
      working-directory: ${{github.workspace}}\build
      run: cpack -C Release -G ZIP

    - name: Package artifacts
      run: |
        mkdir -p release
        cp ${{github.workspace}}/build/*.exe release/
        cp ${{github.workspace}}/build/*.zip release/

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          release/*.exe
          release/*.zip
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
